{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="p-3 mb-2 bg-warning text-dark">
<center>
    <h1>UNIVERSITAS SULTAN AGENG TIRTAYASA</h1>

    <img src="{% static 'img/logosindangsari.jpg' %}" alt="Logo Untirta" width="1200px">
<b>
    <p> Universitas Sultan Ageng Tirtayasa dimulai dengan berdirinya Yayasan Pendidikan Tirtayasa pada tanggal 1 oktober 1980 berdasarkan Akte Notaris No: 1 Tahun 1980, kemudian dilakukan penyempurnaan dan dikukuhkan kembali dengan akte Notaris Ny. R.Arie Soetardjo, Nomor 1, Tanggal 3 Maret 1986.</p>
    <p>Universitas Sultan Ageng Tirtayasa disingkat Untirta, adalah perguruan tinggi negeri yang terdapat di Provinsi Banten, Indonesia. Dengan kampus utama Untirta di Kabupaten Serang, kampus Fakultas Teknik di Kota Cilegon, dan Fakultas Keguruan dan Ilmu Pendidikan di Ciwaru, Kota Serang. Universitas Sultan Ageng Tirtayasa merupakan salah satu perguruan tinggi negeri Indonesia yang berada di Provinsi Banten.</p>
</b>
</center>
<center><b>
    <p>Berikut adalah logo Universitas Sultan Ageng Tirtayasa</p>
    <img src="{% static 'img/logountirta.jpg' %}" alt="Logo Untirta" width="250px">
</b></center>
<center>
<b>
    <p>Arti dari lambang Untirta adalah sebagai berkut:
    <p>a. Segi lima yaitu bentuk dasar yang melambangkan Pancasila</p>
    <p>b. Menara Masjid Banten melambangkan keteguhan iman, pendirian yang kokoh, tujuan yang tinggi, mulia, dan dinamis;</p>
    <p>c. Beringin sebagai pengayom, melambangkan keadilan yang didambakan setiap insan;</p>
    <p>d. Empat akar pohon beringin yang terjuntai ke bawah melambangkan Undang-Undang Dasar 1945;</p>
    <p>e. Tiga cabang akar beringin melambangkan Tri Dharma Perguruan Tinggi;</p>
    <p>f. Dua bulu angsa yang sebagai alat tulis pada zaman dahulu yang melambangkan simbol pendidikan;</p>
    <p>g. Dua garis merah di bawah adalah dua aliran Sungai Ciujung dan Sungai Cidurian yang sejak zaman pemerintahan Sultan Ageng Tirtayasa digunakan untuk pengairan guna kemakmuran daerah, melambangkan suatu harapan agar para mahasiswa Untirta dapat mengembangkan tenaga dan pikirannya untuk kemakmuran daerah.</p>
    <p>Arti dari warna yang ada di lambang Untirta adalah sebagai berikut:</p>
        
    <p>1. Putih melambangkan kesucian dan kebersihan hati yang murni;</p>
    <p>2. Kuning keemasan melambangkan keagungan dan kejayaan;</p>
    <p>3. Merah melambangkan keberanian;</p>
    <p>4. Biru melambangkan kejernihan suasana dengan keaslian watak serta kesetiaan;</p>
    <p>5. Hijau melambangkan kesegaran, kesehatan, dan kesuburan;</p>
    <p>6. Hitam melambangkan kekuatan jiwa.</p>   
</b>
</center>
<center>
    <h3><b>VISI & MISI Universitas Sultan Ageng Tirtayasa:</b></h3>
    <p><b>A. VISI</b></p>
    <p><b>Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It’S Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030.</b></p>
    <p><b>B. MISI</b></p>
    <p><b>1. Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN.</b></p>
    <p><b>2. Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman.</b></p>
    <p><b>3. >Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University.</b></p>
</center>   
</div>

{% endblock %}